@import '@/assets/styles/colors.scss';
@import '@/assets/styles/mix.scss';

.selection {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  .btn-selected {
    height: 50px;
    padding: 0 4%;
    border-radius: 4px;
    color: $font_color;
    border: none;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    cursor: pointer;
    &::placeholder {
      color: $secundary_disabled;
      font-weight: bold;
      font-size: 12px;
    }
    &.select {
      border: 2px solid $primary;
    }
    &:focus {
      outline: none;
    }
    span {
      margin: 0 auto;
      font-weight: bold;
      color: $font_color;
      letter-spacing: 1px;
    }
    i {
      &.arrow-up {
        animation: rotateAnimation 800ms 80ms both normal;
      }
      &.arrow-down {
        animation: notRotateAnimation 800ms 80ms both;
      }
    }
    
  }
  .select-list {
    background-color: #FFF;
    border-radius: 7px;
    box-shadow: 8px 8px 8px -10px rgba(0,0,0,0.64);
    .select-item {
      padding: 10px 0 10px 12px;
      cursor: pointer;
      font-size: 16px;
      &:hover {
        background-color: $background;
      }
    }
  }
}


@keyframes rotateAnimation {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(180deg);
  }
}
@keyframes notRotateAnimation {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(0);
  }
}