@import '../assets/styles/colors.scss';
@import '../assets/styles/mix.scss';

.enterprise {
  width: 100%;
  display: flex;
  flex-direction: column;
  @extend %label;
  @extend %input;
  @extend %buttom;
}

@include table() {
  .enterprise {
    width: 100%;
    .btn-action {
      display: flex;
      justify-content: space-between;
      padding: 0 2%;
    }
  }
}

@include mobile() {
  .enterprise {
    width: 100%;
    .btn-action {
      display: flex;
      justify-content: space-between;
      padding: 0 2%;
    }
  }
}