.header {
  width: 100vw;
  height: 10vh;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 15px;
  }
}