@import '../assets/styles/mix.scss';

.item {
  .item-readme {
    height: 80vh;
    @extend %flex-column;
    li, h3 {
      padding-left: 20%;
    }
    h3 {
      width: 280px;
      margin-bottom: 30px;
    }
    .item-item {
      width: 280px;
      display: flex;
      align-items: center;
      margin: 10px 0;
      text-align: left;
      line-height: 22px;
      &:nth-child(1) {
        color: blueviolet;
        opacity: 0.6;
      }
      &:nth-child(2) {
        color: rgb(113, 50, 172);
      }
      &:nth-child(3) {
        color: rgb(17, 177, 115);
      }
      p {
        font-size: 16px;
        font-weight: 600;
      }
      i {
        font-size: 25px;
        margin-right: 20px;
      }
    }
  }
}
@include table {
  .item {
    .item-readme {
      li, h3 {
        width: 350px;
        padding-left: 0;
      }
      .item-item {
        width: 350px;
      }
    }
  }
}

@include mobile {
  .item {
    .item-readme {
      li, h3 {
        width: 350px;
        padding-left: 0;
      }
      .item-item {
        width: 350px;
      }
    }
  }
}