@import '@/assets/styles/colors.scss';

.count-porcenter {
  align-self: flex-start;
  &.primeiro {
    border-top: 5px solid rgb(241, 245, 34);
    width: 15%;
  }
  &.segundo {
    border-top: 5px solid rgb(243, 247, 32);
    width: 25%;
  }
  &.terceiro {
    border-top: 5px solid rgb(241, 245, 32);
    width: 35%;
  }
  &.quarto {
    border-top: 5px solid $primary;
    width: 60%;
  }
  &.quinto {
    border-top: 5px solid rgb(74, 240, 74);
    width: 100%;
  }
}