@import '../assets/styles/colors.scss';
@import '../assets/styles/mix.scss';

.configuration {
  width: 100%;
  height: 100vh;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  .count-porcenter {
    align-self: flex-start;
    &.primeiro {
      border-top: 5px solid rgb(246, 248, 94);
      width: 20%;
    }
    &.segundo {
      border-top: 5px solid red;
      width: 40%;
    }
    &.terceiro {
      border-top: 5px solid red;
      width: 60%;
    }
  }
  .count {
    display: flex;
    align-self: flex-end;
    margin-top: 5%;
    padding-right: 5%;
    span {
      font-size: 16px;
      font-weight: bold;
      color: $font_color;
    }
  }
  .form-config {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    h3 {
      text-align: center;
      font-size: 40px;
      letter-spacing: 4px;
    }
    .center {
      width: 80%;
      display: flex;
      flex-direction: column;
      label {
        color: $font_color;
        font-weight: bold;
        margin-bottom: 6px;
        text-shadow: 0 0 0.5px $font_color;
        letter-spacing: 1px;
        margin-top: 30px;
      }
      .input-control {
        height: 50px;
        border-radius: 4px;
        color: $font_color;
        margin-bottom: 10px;
        border: 1px solid $secundary_disabled;
        padding-left: 10px;
        font-weight: bold;
        &::placeholder {
          color: $secundary_disabled;
          font-weight: bold;
          font-size: 12px;
        }
        &:focus {
          outline-color: $primary;
        }
      }
      .btn-action {
        width: 120px;
        height: 55px;
        border: none;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        padding: 0 6%;
        align-items: center;
        cursor: pointer;
        align-self: flex-end;
        background-color: $primary;
        &.disabled {
          background-color: $secundary_disabled;
        }
        span {
          color: #FFF;
          font-size: 16px;
          font-weight: bold;
        }
        i {
          color: #FFF;
          font-size: 10px;
          font-weight: bold;
          background-size: cover;
        }
      }
      .act {
        display: flex;
        justify-content: center;
        .btn-act {
          width: 50%;
          height: 55px;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          background-color: #FFF;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          color: $font_color;
          &:last-child {
            margin-left: 20px;
          }
          &:focus {
            outline-color: $primary;
            span {
              color: $primary;
            }
          }
        }
      }
    }
  }
}