@import '@/assets/styles/colors.scss';

.card {
  width: 180px;
  height: 150px;
  background-color: $background_secundary;
  border-radius: 7px;
  box-shadow: 0 0 1px 1px #CCC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  i {
    font-size: 30px;
    text-align: center;
    margin-top: 15%;
  }
  .description {
    margin-bottom: 10%;
    width: 180px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-line;
    opacity: 0.8;
  }
  &:hover {
    i, .description {
      opacity: .7;
    }
  }
}