$background: #edf0f9;
$secundary_disabled: #b9c1da;
$secundary_disabled_hover: #a9b1c7;
$font_color_title: rgb(39, 38, 38);
$font_color: rgb(107, 106, 106);
$green: #00b579;
$blue_secundary: #4c3aff;
$primary: #7b0acc;
$background_secundary: #FFF;
$hover_sidenav: rgb(231, 231, 231);
