@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mix.scss';

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(12, 12, 12, 0.397);
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  .element {
    width: 250px;
    height: 120px;
    border-radius: 6px;
    // border: 2px solid $primary;
    box-shadow: 3px 3px 8px 0px rgba(51, 51, 51, 0.438);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: $background;
    .input-control, .btn-action {
      padding-left: 0;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      &:focus {
        outline: none;
      }
      &:active {
        opacity: 0.9;
      }
    }
    label {
      font-size: 26px;
      letter-spacing: 3px;
      opacity: .9;
      line-height: 0;
      margin-bottom: 20px;
    }
    @extend %label;
    @extend %input;
    @extend %buttom;
  }
}